Source: node8-installer
Section: misc
Priority: optional
Maintainer: Baltnet Communications <info@baltnet.ee>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.baltnet.ee

Package: node8-installer
Architecture: all
Depends: ${misc:Depends}, lsb-release
Description: NodeJS v8.x repository and key installer
